<header>
    <div>
        <h4>ANGULAR-TASK</h4>
    </div>
</header>
<div class="main">
    <div class="categories-1">
        <div class="category" routerLink="/categoriy">
            <div> <mat-icon>receipt_long</mat-icon>
            <h3>Category</h3>
        <p>Manage Your Category Details Here.</p></div>
           
        </div>
        <div class="post " routerLink="/post"> <div> <mat-icon>description</mat-icon>
            <h3>Post</h3>
        <p>Manage Your Category Details Here.</p></div></div>
    </div>

    <div class="categories-2">
        <div class="subscribes category"><div> <mat-icon>groups</mat-icon>
            <h3>Subscripes</h3>
        <p>Manage Your Category Details Here.</p></div></div>
        <div class="comments category"><div> <mat-icon>chat</mat-icon>
            <h3>Comments</h3>
        <p>Manage Your Category Details Here.</p></div></div>
    </div>
<footer>
    <div>
        <div class="footers">ANGULAR-TASK</div>
    </div>

</footer></div>